
{{ partial "head.html" . }}

<div class="homepage-lead"><div class="homepage-lead-container">
  <p>GRaph Integration Platform (GRIP)</p>
  <a href="{{ .Site.BaseURL }}/download" class="download-button">Download</a>
  <a href="{{ .Site.BaseURL }}/docs" class="docs-button">Documentation</a>
</div></div>

<div class="homepage">

  <div class="homepage-intro">

    <div class="section group">

    </div>

  </div>

  <div class="homepage-demo">
    <div>
      The GRaph Integration Platform (GRIP) is a graph query engine designed to 
      span across multiple database backends. It supports Mongo, SQL, ElasticSearch
      and has a plug in architecture to allow new resource to be added.
    </div>

    <h1 class="demo-header" id="intro">A quick introduction</h1>

      <div class="section group">
        <div class="col span_3_of_12">
          <h1>Start an GRIP server</h1>
        </div>

        <div class="col span_9_of_12">
          <pre><code class="language-shell">$ grip server --config grip.yml</code></pre>
        </div>
      </div>

      <div class="section group">
        <div class="col span_3_of_12">
          <h1>List all graphs</h1>
        </div>

        <div class="col span_9_of_12">
          <pre><code class="language-shell">$ grip list</code></pre>
        </div>
      </div>

      <div class="section group">
        <div class="col span_3_of_12">
          <h1>Create a graph</h1>
        </div>

        <div class="col span_9_of_12">
          <pre><code class="language-shell">$ grip create example</code></pre>
        </div>
      </div>

      <div class="section group">
        <div class="col span_3_of_12">
          <h1>Drop a graph</h1>
        </div>

        <div class="col span_9_of_12">
          <pre><code class="language-shell">$ grip drop example</code></pre>
        </div>
      </div>

      <div class="section group">
        <div class="col span_3_of_12">
          <h1>Load data into a  graph</h1>
        </div>

        <div class="col span_9_of_12">
          <pre><code class="language-shell">$ grip load example --edge edges.txt --vertex vertices.txt</code></pre>
        </div>
      </div>

      <div class="section group">
        <div class="col span_3_of_12">
          <h1>Query a graph</h1>
        </div>

        <div class="col span_9_of_12">
          <pre><code class="language-shell">$ grip query example 'V().hasLabel("users")'</code></pre>
        </div>
      </div>

      <div class="section group">
        <div class="col span_3_of_12">
          <h1>Get vertex/edge counts for a graph</h1>
        </div>

        <div class="col span_9_of_12">
          <pre><code class="language-shell">$ grip info example</code></pre>
        </div>
      </div>

      <div class="section group">
        <div class="col span_3_of_12">
          <h1>Get the schema for a graph</h1>
        </div>

        <div class="col span_9_of_12">
          <pre><code class="language-shell">$ grip schema get example</code></pre>
        </div>
      </div>

      <div class="section group">
        <div class="col span_3_of_12">
          <h1>Dump vertices/edges from a graph</h1>
        </div>

        <div class="col span_9_of_12">
          <pre><code class="language-shell">$ grip dump example --vertex</code></pre>
        </div>
      </div>

  </div>

  <div class="homepage-more">

    <div class="section group">

      <div class="col span_4_of_12">
        <h3>Drop in for a chat.</h3>
        <p>Join the <a href="https://gitter.im/bmeg/grip">Gitter channel</a>.</p>
      </div>

      <div class="col span_4_of_12">
        <h3>Get the code.</h3>
        <p>Head over to <a href="https://github.com/bmeg/grip">GitHub</a> and dig in.</p>
      </div>

      <div class="col span_4_of_12">
        <h3>Give feedback.</h3>
        <p>
          <a href="https://github.com/bmeg/grip/issues">Let us know</a> what you think.</p>
      </div>

    </div>

  </div>

  <div class="homepage-footer"></div>

</div>

{{ partial "tail.html" . }}
