[Unit]
Description=grip

[Service]
WorkingDirectory=/var/run/grip
ExecStart=/usr/local/bin/grip server -c /etc/grip.yml
SyslogIdentifier=grip
Restart=always
