*grip.work*
*grip.db*
vendor
build
website/public
.github_token

# Python temps
__pycache__/
*.py[cod]
*$py.class
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
.tox/
*venv*

# Editor Temps
.*.sw?
*~
\#*\#
.desktop
