os:
  - linux
language: go
go:
  - "1.12"

dist: xenial
sudo: required

services:
  - docker

cache:
  directories:
    - $GOPATH/pkg

git:
  submodules: false

install:
  - export GO111MODULE=on
  - make
  - sudo pip install -U numpy
  - sudo pip install -U requests
  - sudo pip install -U flake8

jobs:
  include:
    - stage: all
      script:
        - make lint
      env:
        - n=lint
    - script:
        - make test
      env:
        - n=tests
    - script:
        - grip server --rpc-port 18202 --http-port 18201 --config ./test/grids.yml &
        - sleep 5
        - make test-conformance
        - go test ./test -config grids.yml
      env:
        - n=grids
    - script:
        - grip server --rpc-port 18202 --http-port 18201 --config ./test/badger.yml &
        - sleep 5
        - make test-conformance
        - go test ./test
      env:
        - n=badger
    - script:
        - grip server --rpc-port 18202 --http-port 18201 --config ./test/bolt.yml &
        - sleep 5
        - make test-conformance
        - go test ./test -config bolt.yml
      env:
        - n=boltdb
    - script:
        - grip server --rpc-port 18202 --http-port 18201 --config ./test/level.yml &
        - sleep 5
        - make test-conformance
        - go test ./test -config level.yml
      env:
        - n=leveldb
    - script:
        - make start-mongo
        - sleep 15
        - grip server --rpc-port 18202 --http-port 18201 --config ./test/mongo.yml &
        - sleep 5
        - make test-conformance
        - go test ./test -config mongo.yml
        - go test ./test -config mongo-core-processor.yml
      env:
        - n=mongodb
    - script:
        - make start-elastic
        - sleep 15
        - grip server --rpc-port 18202 --http-port 18201 --config ./test/elastic.yml &
        - sleep 5
        - make test-conformance
        - go test ./test -config elastic.yml
      env:
        - n=elasticsearch
    - script:
        - make start-postgres
        - sleep 15
        - go test ./test -config existing-sql.yml
      env:
        - n=existing-sql
    - script:
        - make start-postgres
        - sleep 15
        - grip server --rpc-port 18202 --http-port 18201 --config ./test/psql.yml &
        - sleep 5
        # - make test-conformance
        - python conformance/run_conformance.py http://localhost:18201 --exclude index aggregations
        - go test ./test -config psql.yml
      env:
        - n=postgres


notifications:
  email: false
