os:
  - linux
language: go
go:
  - 1.8
sudo: required

services:
  - docker

cache:
  directories:
    - $GOPATH/pkg
    - $GOPATH/src/github.com/bmeg/arachne/.git/modules
    - $GOPATH/src/github.com/bmeg/arachne/vendor

git:
  submodules: false

install:
  - make depends
  - make

jobs:
  include:
    - stage: all
      script: make lint
      env:
        - n=lint
    - script:
      - make test
      - make start-test-server
      - make test-conformance
      env:
        - n=test

notifications:
  email: false
